name: Build

on: 
  push:
    branches: 'main'

jobs:
  build-docker-linux-bash:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      -
        name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v2
    - run: docker run --rm --privileged multiarch/qemu-user-static --reset -p yes
    - run: |
        docker buildx build --load --platform linux/arm/v7 . --tag arm32demo
  build-docker-linux:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up QEMU
      uses: docker/setup-qemu-action@v2
      with:
        image: multiarch/qemu-user-static
        platforms: arm
    - name: Build only
      uses: docker/build-push-action@v3
      with:
        push: false
        tags: arm32demo
        platforms: arm
