name: Build

on: 
  push:
    branches: 'main'

jobs:
  publish-docker-linux:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up QEMU
      uses: docker/setup-qemu-action@v1
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1
    - name: Build and Publish All
      shell: pwsh
      run: |
        docker buildx build --load --platform linux/arm/v7 -f ./DockerFile --tag arm32demo
