name: Build

on: 
  push:
    branches: 'main'

jobs:
  build-docker-macos:
    runs-on: macos-12
    steps:
    - uses: actions/checkout@v2
    - run: |
        brew install docker-machine docker
        brew services restart docker-machine
        docker version
        sudo docker build . --tag arm32demo
