name: Build

on: 
  push:
    branches: 'main'

jobs:
  build-docker-linux:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up QEMU
      uses: docker/setup-qemu-action@v2
    - run: |
        docker buildx build --load --platform linux/arm/v7 . --tag arm32demo
