name: Build

on: 
  push:
    branches: 'main'

jobs:
  build-docker-macos:
    runs-on: macos-12
    steps:
    - run: |
        brew install docker-machine docker
        brew services restart docker-machine
        ls
        docker build . --tag arm32demo
